/* @import './base.css'; */
.bold-header {
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: 0.02px;
  font-size: 1.8rem;
  line-height: normal;
}
.no-validation .v-input__details{
  display: none !important;
}

.main-header{
  text-align: center;
  justify-content: center;
}

.has-text-danger{
  color : red !important;
}